menu "CDC UART Bridge"

    config UART_RX_PIN
        int "RX Pin for bridge UART"
        default 18

    config UART_TX_PIN
        int "TX Pin for bridge UART"
        default 17

    config DTR_PIN
        int "DTR pin to control resets"
        default 15

    config RTS_PIN
        int "RTS pin to control resets"
        default 16

    config UART_RX_BUFSIZE
        int "UART bridge RX buffer size"
        default 2048

    config UART_TX_BUFSIZE
        int "UART bridge TX buffer size"
        default 2048

    
endmenu